h1 {
    text-align: center;
}

.contactCont {
    text-align: center;
    padding-bottom: 50px;
}

.words {
    font-weight: bold;
    
}

footer {
    border-top: solid 1px grey;
}
.form-group {
    margin-bottom: 10px;

}

.form-control {
    padding: 5px;
}

#submitButton {
    padding: 5px 20px;
    background-color: #363636;
    color: white;
    border-radius: 0.6em;
}